[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
	ignore = dirty
[submodule "bundle/lucius"]
	path = bundle/lucius
	url = git@github.com:jonathanfilip/vim-lucius.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git@github.com:fholgado/minibufexpl.vim.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
	ignore = dirty
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = git@github.com:octol/vim-cpp-enhanced-highlight.git
	 ignore = dirty
[submodule "bundle/opencl"]
	path = bundle/opencl
	url = git@github.com:vim-scripts/opencl.vim.git
	ignore = dirty
[submodule "bundle/yaifa"]
	path = bundle/yaifa
	url = git@github.com:vim-scripts/yaifa.vim.git
	ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
	ignore = dirty
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/fugitive-blame"]
	path = bundle/fugitive-blame
	url = git@github.com:tommcdo/vim-fugitive-blame-ext.git
	ignore = dirty
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = git@github.com:hdima/python-syntax.git
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git@github.com:Rip-Rip/clang_complete.git
	ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "bundle/vim-lldb"]
	path = bundle/vim-lldb
	url = git@github.com:xen-0/vim-lldb.git
	branch = no-startup-msg
	ignore = dirty
[submodule "bundle/mark_karkat"]
	path = bundle/mark_karkat
	url = git@github.com:vim-scripts/Mark--Karkat.git
	ignore = dirty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
	ignore = dirty
[submodule "async"]
	path = bundle/async
	url = git@github.com:prabirshrestha/async.vim.git
	ignore = dirty
[submodule "vim-lsp"]
	path = bundle/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
	ignore = dirty
[submodule "vim-signify"]
	path = bundle/vim-signify
	url = git@github.com:mhinz/vim-signify.git
	ignore = dirty
[submodule "syntastic"]
	path = bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
	ignore = dirty
[submodule "vcscommand"]
	path = bundle/vcscommand
	url = git@github.com:vim-scripts/vcscommand.vim.git
